body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    min-height: 100vh;
}

.left{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;  
    margin: 0;
    color: white;   
}   

h1{
    text-align: center;
    margin-bottom: 20px;
}

#menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    text-align: left;
}

#menu li{
    padding: 15px;
    cursor: pointer;
}

.active{
    position: relative;
    color: rgb(36, 36, 36);
    background-color: #af8c4c;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 35px;
}


.active::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background-color: rgb(36, 36, 36);
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}


.active::after{
    right: -8px;
}

#export-btn{
    background-color: #af8c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    margin-top: auto;
}

.right{
    flex: 1;
    background-color: rgb(36, 36, 36);
    margin: 0;
    color: white;
}

.navigation{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    padding: 10px 20px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

#top-menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
}

#top-menu li{
    margin-right: 20px;
    cursor: pointer;
}

.main{
    padding: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "projects skills progress"
        "focus focus focus";
}

#projects-stat{
    grid-area: projects;
}

#skills-stat{
    grid-area: skills;
}

#progress-stat{
    grid-area: progress;
}

#current-focus-stat{
    grid-area: focus;
}

.cards article{
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
